@{
    ViewBag.Title = "About";
}

<h2>Your Shop</h2>
<h3>Slogan wên cmnr</h3>

<div class="container">
    <div class="col-md-6">
        <p>Địa chỉ: thiênsdfgfdnsdfkgnsdfgsofgsdg</p>
        <p>Địa chỉ: thiênsdfgfdnsdfkgnsdfgsofgsdg</p>
        <p>Địa chỉ: thiênsdfgfdnsdfkgnsdfgsofgsdg</p>
        <p>Địa chỉ: thiênsdfgfdnsdfkgnsdfgsofgsdg</p>
        <p>Địa chỉ: thiênsdfgfdnsdfkgnsdfgsofgsdg</p>
    </div>
    <div class="col-md-6">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=17.8876365,107.72819849999999&zoom=14&size=400x300&sensor=false"
    </div>
</div>

