@{
    ViewBag.Title = "Liên hệ";
}
<style>
    @@font-face {
     font-family: Yourtitle; src: url('/Content/font/UTM AmericanaBEx.ttf');
    
}
</style>
<div class="row" style="text-align:center">
    <h2 style="font-family:Yourtitle;font-weight:bolder">ĐỂ LẠI ĐỊA CHỈ EMAIL, CHÚNG TÔI SẼ BÁO GIÁ CHO BẠN</h2>
    <div class="row">
        <input style="width:100%" placeholder="email@domain.com" />
        <button class="btn btn-success">Gửi</button>
    </div>
</div>