

<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="shortcut icon" href="~/Content/buyshop/wp-content/themes/buyshop/img/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
        BuyShop &#8211; Premium Responsive WooCommerce WordPress Theme
    </title>

    <link rel="stylesheet" href="~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector3294.css?v=3.0.1" type="text/css" media="all" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">

    <style>
        .wishlist_table .add_to_cart, .yith-wcwl-add-button > a.button.alt {
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }
    </style>
    <script type="text/javascript">
            var yith_wcwl_plugin_ajax_web_url = 'wp-admin/admin-ajax.html';
            var login_redirect_url= 'wp-loginde6e.html?redirect_to=%2Fbuyshop%2Fwoocommerce%2Fdemo_classic%2F';
    </script>
    <script type="text/javascript">
					var zoomSliderEnabled = false;
    </script>
    <meta name='robots' content='noindex,follow' />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Feed" href="indexd784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Comments Feed" href="indexa6da.html?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Home Page Classic Comments Feed" href="indexe767.html?feed=rss2&amp;page_id=1186" />
    <link rel='stylesheet' id='language-selector-css' href='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector-click4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='mmm_mega_main_menu-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/cache.skincc1a.css?ver=1454064437' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/css/settings0b07.css?rev=4.3.3&amp;ver=3.9.11' type='text/css' media='all' />
    <style type='text/css'>
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
        }

            .tp-caption a:hover {
                color: #ffa902;
            }
    </style>
    <link rel='stylesheet' id='rs-plugin-captions-css' href='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/css/captions0b07.css?rev=4.3.3&amp;ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='bs_panel_styles-css' href='~/Content/buyshop/wp-content/plugins/buyshop-panel/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='mm_icomoon-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/external/icomoon7406.css?ver=2.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mm_font-awesome-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/external/font-awesome7406.css?ver=2.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-responsive-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/bootstrap-responsive4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='font-oswald-css' href='http://fonts.googleapis.com/css?family=Oswald%3A400%2C700&amp;ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='revslider-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/revslider4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/animate4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='isotope-css-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/isotope9c92.css?ver=4.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-css-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/jquery.fancybox285d.css?v=2.1.5&amp;ver=3.9.11' type='text/css' media='1' />
    <link rel='stylesheet' id='page-list-style-css' href='~/Content/buyshop/wp-content/plugins/sitemap/css/page-listbc19.css?ver=4.2' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/js/language-selector4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-includes/js/jquery/jquerya4e6.js?ver=1.11.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce-multilingual/assets/js/cart_widget128b.js?ver=3.1'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min0b07.js?rev=4.3.3&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min0b07.js?rev=4.3.3&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/buyshop-panel/js/bs_panel4264.js?ver=3.9.11'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/buyshop/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 3.9.11" />
    <meta name="generator" content="WooCommerce 2.1.7" />
    <link rel='shortlink' href='index.html' />

    <!-- Contact Us Form -->
    <style type="text/css">
        .cuf_input {
            display: none !important;
            visibility: hidden !important;
        }

        .contactform {
        }

            .contactform label {
            }

            .contactform input {
            }

            .contactform textarea {
            }

        .contactform_respons {
        }

        .contactform_error {
        }

        .widget .contactform { /* sidebar fields */
        }
    </style>
    <meta name="generator" content="WPML ver:3.0.1 stt:1,3;0" />
    <link rel='stylesheet' id='wsl_css-css' href='~/Content/buyshop/wp-content/plugins/wordpress-social-login/assets/css/style4264.css?ver=3.9.11' type='text/css' media='all' />

    <style type="text/css">

    </style>
    <style type="text/css">
        body {
        }

        .label-icon.sale-label {
            width: 67px;
            height: 67px;
        }

        .label-icon.sale-label {
            background-image: url(~/Content/buyshop/wp-content/themes/buyshop/images/label-sale.html);
        }

        .label-icon.new-label {
            width: 67px;
            height: 67px;
        }

        .label-icon.new-label {
            background-image: url(~/Content/buyshop/wp-content/themes/buyshop/images/label-new.html);
        }


        #topline {
            background-color: #333333;
        }

            #topline .fadelink > a {
                background-color: #4A4A4A;
            }

            #topline .fadelink .ul_wrapper ul {
                background-color: #4A4A4A;
            }

        #header {
            background-color: #FFFFFF;
        }

        #content, .span2.product, #spy, .post-preview-small, section.slider {
            background-color: #FFFFFF;
        }

        .box-wrapper {
            background-color: #FFFFFF;
        }

        button, .button, .btn-middle, .more-link, input[type="submit"],
        .button_small, #topline a.button_small,
        a.small_icon_color i,
        #sc_chat_box div.sc-chat-header, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a,
        .form-search button, .form-mail button,
        a.btn, a.btn[rel="prev"], a.btn[rel="next"],
        .shopping_cart_mini .button,
        .color_mark, .promo-box.style4,
        .squared.icon-color[class^="icon-"],
        .squared.icon-color[class*=" icon-"],
        .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
            background-color: #9D3BC6;
        }

        .tab-content {
            border-top-color: #9D3BC6;
        }

        .infobox .icon i,
        h3 [class^="icon-"], h3 [class*=" icon-"],
        #content .custom_color,
        .tp-leftarrow.default, .tp-rightarrow.default,
        .ls-nav-prev, .ls-nav-next {
            color: #9D3BC6 !important;
        }

        textarea:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus,
        input:focus:invalid:focus,
        textarea:focus:invalid:focus,
        select:focus:invalid:focus {
            border-color: #C68DDE;
        }

        button:hover, .button:hover, .more-link:hover, input[type="submit"]:hover,
        .button_small:hover, #topline a.button_small:hover,
        a.small_icon_color i:hover,
        #sc_chat_box div.sc-chat-header:hover, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a:hover,
        .form-search button:hover, .form-mail button:hover, .shoppingcart:hover .fadelink span a,
        a.btn:hover, a.btn[rel="prev"]:hover, a.btn[rel="next"]:hover,
        .shopping_cart_mini .button:hover,
        .squared.icon-color[class^="icon-"]:hover,
        .squared.icon-color[class*=" icon-"]:hover,
        #filters li a:hover, #filters li a.active, #filters li a.selected {
            background-color: #6A2886;
        }

        .widget.widget_nav_menu ul.sidenav li a, #nav > li > a {
            background-color: #FFFFFF;
        }

        .notouch .widget.widget_nav_menu ul.sidenav li a:hover, .widget.widget_nav_menu ul.sidenav li.active a, .widget.widget_nav_menu ul.sidenav li.current-menu-item a, #nav > li:hover > a, .filters-by-category li a.selected, .sale_discount,
        .tp-bannertimer,
        .jcarousel-skin-brands a.btn:hover,
        .es-nav a.btn:hover, .es-nav a[rel="prev"]:hover, .es-nav a[rel="next"]:hover,
        .flexslider.banners .flex-direction-nav a:hover,
        .direction-nav a:hover,
        .flexslider.vertical .flex-direction-nav a:hover, .flexslider.more-views .flex-direction-nav a:hover,
        .nav-header > a, .nav-list > li > a:hover {
            background-color: #9D3BC6;
        }

        .filters-by-category li a.selected, .filters-by-category li a:hover, .view:hover {
            border-color: #9D3BC6;
        }

        .filters-by-category li {
            border-left-color: #9D3BC6;
        }

        .custom_blocks .box .inside, .flexslider.banners {
            border-bottom-color: #9D3BC6;
        }

        #nav > li > ul, #nav li:hover .menu_custom_block {
            border-top-color: #9D3BC6;
        }

        #footer, #footer_popup {
            background-color: #2B2B2B;
        }

        #footer_line, #footer_button {
            background-color: #333333;
        }



        .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
            color: #FFFFFF !important;
        }

        .product .product-tocart a, .preview .product-tocart a {
            color: #9D3BC6 !important;
        }

            .product .product-tocart a:hover, .preview .product-tocart a:hover {
                color: #9D3BC6 !important;
            }

        #topline, #topline span, #topline .phone span {
        }

            #topline .fadelink > a {
            }

            #topline .fadelink .ul_wrapper ul, #topline .fadelink li a {
            }

        #header {
        }

            #header input[type=text] {
            }

        #content, .woocommerce.widget_price_filter .price_slider_amount span, .woocommerce-page .widget_price_filter .price_slider_amount {
        }

        .table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th, .box-wrapper {
        }

        #content a:not(.button), .product a {
        }

            #content a:not(.button):hover, .product a:hover {
            }

        .product-price .amount, .product-price del .amount, .product-shop .old-price .price, .product-listing .old-price .price, .product-shop .price-box del .amount, .price-box del .amount, .amount {
        }

        .product-price ins .amount, .product-shop .special-price .price, .product-listing .special-price .price, .product-shop .price-box ins .amount, .price-box ins .amount {
        }

        button, .button, a.button, .btn-middle, .more-link, input[type=submit], .button_small, #topline a.button_small, #sc_chat_box div.sc-chat-header, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a, .form-search button, .form-mail button, .shopping_cart_mini .button, .color_mark, .promo-box.style4 {
        }

            button:hover, .button:hover, a.button:hover, .more-link:hover, input[type=submit]:hover, .button_small:hover, #topline a.button_small:hover, #sc_chat_box div.sc-chat-header:hover, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a:hover, .shopping_cart_mini .button:hover {
                color: #FFFFFF;
            }

        .widget.widget_nav_menu ul.sidenav li a, #nav > li > a {
        }

        .notouch .widget.widget_nav_menu ul.sidenav li a:hover, .widget.widget_nav_menu ul.sidenav li.active a, .widget.widget_nav_menu ul.sidenav li.current-menu-item a, #nav > li:hover > a, .filters-by-category li a.selected, .sale_discount {
            color: #FFFFFF;
        }

        .form-search button, .form-mail button, a.small_icon_color i, a.btn, a.btn[rel=prev], a.btn[rel=next] {
            color: #FFFFFF;
        }

            .form-search button:hover, .form-mail button:hover, .shoppingcart:hover .fadelink span a, a.small_icon_color i:hover, .es-nav a.btn:hover, a.btn:hover, a.btn[rel=prev]:hover, a.btn[rel=next]:hover {
                color: #FFFFFF;
            }

        h1 {
        }

        h2 {
        }

        h3 {
        }

        h4 {
        }

        h5 {
        }

        h6 {
        }

        #footer {
        }

            #footer .custom_color {
            }


        #wp-social-login-connect-options a, #cancel-comment-reply-link, a.more-link {
            color: !important;
        }


        #footer_popup {
            /*background-color: #2B2B2B;*/
            bottom: 0;
            display: block !important;
            padding-bottom: 20px;
            position: relative;
        }

        #footer_button {
            display: none;
        }
    </style>
    <script type="text/javascript">
			var ajaxFilterEnabled = 0;
			var successfullyAdded = 'Product successfully added to your shopping cart';
			var view_mode_default = '';
			var catsAccordion = false;
									var checkoutUrl = 'index3204.html?page_id=7';
			var contBtn = 'Continue shopping';
			var checkBtn = 'Checkout';

			var search_autocomplete_enabled = '1';
			var isotope_animation_enabled = '1';

			var hoverfold_js_url = '~/Content/buyshop/wp-content/themes/buyshop/js/jquery.hoverfold.js';
			var fallback_css = '~/Content/buyshop/wp-content/themes/buyshop/css/fallback.css';

    </script>


    <style type="text/css">
        html {
            margin-top: 0 !important;
        }

        * html body {
            margin-top: 0 !important;
        }
    </style>

    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />

    <!--[if gte IE 9]>
        <style type="text/css">
            .#mega_main_menu,
            .#mega_main_menu *
            {
                filter: none;
            }
        </style>
    <![endif]-->
</head>

<body class="home page page-id-1186 page-template-default woocommerce-wishlist woocommerce woocommerce-page responsive wide notouch no_msie wpb-js-composer js-comp-ver-4.2.3 vc_responsive">
    <div id="wrap">

        <div id="preloader">
            <div id="ajax_loader" style="display: none;" class="loader">
                <img width="32" height="32" src="~/Content/buyshop/wp-content/themes/buyshop/img/ajax-loader.gif" alt="">
            </div>
            <div id="ajax_message" style="display: none;" class="message">
                <div class="inside"></div>
            </div>
        </div>

        <section class="slider">

            <div class="container">
                <div class="wpb_revslider_element wpb_content_element">
                    <!-- START REVOLUTION SLIDER 4.3.3 fullwidth mode -->
                    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min4e0f.js?rev=4.3.3'></script>
                    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min4e0f.js?rev=4.3.3'></script>
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#FFFFFF;padding:0px;margin-top:0px;margin-bottom:0px;max-height:495px;">
                        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:495px;height:495;">
                            <ul>
                                <!-- SLIDE  -->
                                <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="300" data-link="http://demo.ethemeuk.com/buyshop/woocommerce/demo/?page_id=26" data-target="_blank">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/Content/buyshop/wp-content/uploads/2013/12/slider1.jpg" alt="slider1" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                </li>
                                <!-- SLIDE  -->
                                <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="300" data-link="http://demo.ethemeuk.com/buyshop/woocommerce/demo/?page_id=536" data-target="_blank">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/Content/buyshop/wp-content/uploads/2014/04/anim3_.gif" alt="anim3_" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                </li>
                                <!-- SLIDE  -->
                                <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="300" data-link="http://demo.ethemeuk.com/buyshop/woocommerce/demo/?page_id=257">
                                    <!-- MAIN IMAGE -->
                                    <img src="~/Content/buyshop/wp-content/uploads/2014/04/slider2_.jpg" alt="slider2_" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                                    <!-- LAYERS -->
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom"></div>
                        </div>
                    </div>
                    <script type="text/javascript">

				var tpj=jQuery;
				tpj.noConflict();
				var revapi1;

				tpj(document).ready(function() {

				if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						dottedOverlay:"none",
						delay:9000,
						startwidth:1600,
						startheight:495,
						hideThumbs:200,

						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,

						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"square-old",

						touchenabled:"on",
						onHoverStop:"on",

						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,

						keyboardNavigation:"off",

						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:200,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:200,
						soloArrowRightVOffset:0,

						shadow:0,
						fullWidth:"on",
						fullScreen:"off",

						spinner:"spinner0",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,


						shuffle:"off",

						autoHeight:"on",
						forceFullWidth:"on",



						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,

						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						videoJsPath:"http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/videojs/",
						fullScreenOffsetContainer: ""
					});

				});	//ready

                    </script>

                    <!-- END REVOLUTION SLIDER -->
                </div>
            </div>

        </section>

        <section id="content" class="shop">
            <div class="container">
                <div class="row">

                    <div class="span12">
                        <div class="row">
                            <div class="span12">

                                <div class="">
                                    <div class="woocommerce">
                                        <h2>Bestsellers</h2><div class="carousel es-carousel-wrapper style0">
                                            <div class="es-carousel">
                                                <div class="row ">
                                                    <div class="product_outer carousel_items">
                                                        @{
                                                            for (int i = 0; i < 5; i++)
                                                            {
                                                                <div class="post-78 product type-product status-publish has-post-thumbnail span3 product carousel_item featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">


                                                                    <div class="product-image-wrapper onhover animate scale">
                                                                        <a href="indexb436.html?product=a-l-c-gerry-dress"><img width="300" height="300" src="~/Content/buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (22)" /></a>
                                                                    </div>


                                                                    <div class="wrapper-hover">

                                                                        <div class="product-name">
                                                                            <a href="indexb436.html?product=a-l-c-gerry-dress">
                                                                                A.L.C &#8211; Gerry Dress
                                                                            </a>
                                                                        </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                                                                        <div class="wrapper">


                                                                            <div class="product-price"><span class="amount">&pound;260.00</span></div>


                                                                            <div class="product-tocart"><a href="indexd5f5.html?add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                                            <div class="clearfix"></div>
                                                                        </div>

                                                                    </div>


                                                                    <span class="sort-date hidden">1386767309</span>
                                                                    <span class="sort-price hidden">260</span>
                                                                    <span class="sort-product_name hidden">A.L.C &#8211; Gerry Dress</span>
                                                                    <span class="sort-rating hidden">0</span>

                                                                </div>


                                                                <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                                                    <div class="wrapper">

                                                                        <div class="col-1">


                                                                            <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/~/Content/buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22.jpg" href="#">
                                                                                <img class="thumb" alt="" src="~/Content/buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22-63x63.jpg" />
                                                                            </a>


                                                                            <a class="image" data-rel="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/~/Content/buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-23.jpg" href="#">
                                                                                <img class="thumb" alt="" src="~/Content/buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-23-63x63.jpg" />
                                                                            </a>


                                                                        </div>
                                                                        <div class="col-2 with_media">
                                                                            <div class="big_image">
                                                                                <a href="indexb436.html?product=a-l-c-gerry-dress">

                                                                                    <img width="300" height="300" src="~/Content/buyshop/wp-content/uploads/2014/04/wclo_ad_1_1-22-300x300.jpg" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (22)" />
                                                                                </a>
                                                                            </div>

                                                                            <div class="wrapper-hover">

                                                                                <div class="product-name">
                                                                                    <a href="indexb436.html?product=a-l-c-gerry-dress">
                                                                                        A.L.C &#8211; Gerry Dress
                                                                                    </a>
                                                                                </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                                                                                <div class="wrapper">


                                                                                    <div class="product-price"><span class="amount">&pound;260.00</span></div>


                                                                                    <div class="product-tocart"><a href="indexd5f5.html?add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                                                </div>
                                                                                <div class="clearfix"></div>

                                                                                <div class="product-link">
                                                                                    <a class="wft_add_to_wishlist" href="indexb436.html?action=add_to_wishlist&amp;add_to_wishlist=78" data-product-id="78" data-product-type="simple">Add to Wishlist</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            }
                                                        }
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>     
                    </div>

                </div>
            </div><!-- end container -->
        </section>
    </div><!-- #wrap -->

    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/js_composer_front9c92.css?ver=4.2.3' type='text/css' media='all' />
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/buyshop\/woocommerce\/demo_classic\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_view_cart":"View Cart","cart_url":"http:\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic\/?page_id=6","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minc8cb.js?ver=2.60'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/buyshop\/woocommerce\/demo_classic\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.mine7f0.js?ver=1.3.1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/buyshop\/woocommerce\/demo_classic\/wp-admin\/admin-ajax.php","fragment_name":"wc_fragments"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var yith_wcwl_l10n = {"out_of_stock":"Cannot add to the cart as product is Out of Stock!"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/js/frontend/menu_functions4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/bootstrap4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.easing4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.mousewheel4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.flexslider4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.elastislide4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.selectbox-0.24264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.parallax4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.inview4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.autocompleteea63.js?v=1.2.9&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.isotope4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/modernizr-2.6.2.min4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.fancybox.pack285d.js?v=2.1.5&amp;ver=3.9.11'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_variation_params = {"i18n_no_matching_variations_text":"Sorry, no products matched your selection. Please choose a different combination.","i18n_unavailable_text":"Sorry, this product is unavailable. Please choose a different combination."};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/custom4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/retina-1.1.04264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/add-to-cart4264.js?ver=3.9.11'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var icl_vars = {"current_language":"en","icl_home":"http:\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/js/sitepress4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/js_composer/assets/js/js_composer_front9c92.js?ver=4.2.3'></script>
    <!-- WooCommerce JavaScript -->
    <script type="text/javascript">
jQuery(function($) {

            jQuery('.wcml_currency_switcher').on('change', function(){
                    var currency = jQuery(this).val();
                    jQuery('.wcml_currency_switcher').attr('disabled', 'disabled');
                    jQuery('.wcml_currency_switcher').val(currency);
                    var data = {action: 'wcml_switch_currency', currency: currency}
                    jQuery.post(woocommerce_params.ajax_url, data, function(){
                        jQuery('.wcml_currency_switcher').removeAttr('disabled');
                        location.reload();
                    });
            });

});
    </script>

</body>
</html>
