@{
    ViewBag.Title = "Giới thiệu";
}
<style>
    p {
        font-size: 20px;
        line-height: 150%;
    }

    @@font-face {
        font-family: iCiel;
        src: url('/Content/font/Arimo-Regular.ttf');
    }
</style>


<body class="home page page-id-1186 page-template-default woocommerce-wishlist woocommerce woocommerce-page responsive wide notouch no_msie wpb-js-composer js-comp-ver-4.2.3 vc_responsive">
    <div class="container">
        <img src="~/Content/intro_img.jpg" style="width:200%;" />
    </div>
    

    <div class="container" style="margin-top:20px">
        <div class="col-xs-3">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right" style="margin: 3px 5px 0 0;"></span>Tầm nhìn</a></li>
                <li><a href="#sumang" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right" style="margin: 3px 5px 0 0;"></span>Sứ mạng</a></li>
                <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-chevron-right" style="margin: 3px 5px 0 0;"></span>Thông điệp của Business Director</a></li>
            </ul>
        </div>

        <div class="col-xs-9">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <h3 style="font-family:'Times New Roman', Times, serif; color:#4d4d4d; font-size:25px; font-weight:bold;">Tầm nhìn</h3>
                    <p style="font-family:iCiel; color: #be0006; font-size:40px; margin: 10px 0 10px 0;">ĐẸP TRONG TỪNG KHOẢNH KHẮC</p>
                    <p>
                        Your quyết tâm trở thành thương hiệu hàng đầu về sản xuất và kinh doanh thời trang, đồng phục tại Việt Nam.
                    </p>

                </div>
                <div class="tab-pane" id="sumang">
                    <h3 style="font-family:'Times New Roman', Times, serif; color:#4d4d4d; font-size:25px; font-weight:bold;">Sứ mạng</h3>
                    <p>
                        Your mong muốn đem đến cho cộng đồng những điều tốt đẹp qua các sản phẩm thời trang chất lượng và hợp xu hướng, qua đó tạo ra và nâng cao giá trị bền vững cho khách hàng và cộng đồng.
                    </p>
                </div>
                <div class="tab-pane" id="profile">
                    <h3 style="font-family:'Times New Roman', Times, serif; color:#4d4d4d; font-size:25px; font-weight:bold;">Thông điệp của Business Director</h3>
                    <p>
                        "Với khát vọng đem đến cho cộng đồng những điều tốt đẹp, Your ra đời mang theo những đam mê và hoài bão lớn lao để phục vụ khách hàng. Thời trang Your luôn bắt kịp xu hướng và quan trọng nhất,
                        chúng tôi cam kết đáp ứng chất lượng phù hợp với từng khách hàng theo phương châm <span style="color:#be0006;"><b>"Your personality - Our product"</b></span>. Chúng tôi tự đặt cho mình sứ mệnh đồng hành với tất cả doanh nghiệp
                        và mỗi cá nhân để tạo ra và nâng cao giá trị bền vững cho khách hàng. Hãy cùng Your sáng tạo cho cuộc sống!"
                    </p>
                    <p style="float:right;"><i>BD. Trần Khánh Tùng</i></p>
                </div>
            </div>
        </div>

    </div>


    <link rel="stylesheet" href="~/Content/VerticalTabs/bootstrap.vertical-tabs.css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/js_composer_front9c92.css?ver=4.2.3' type='text/css' media='all' />

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minc8cb.js?ver=2.60'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/js/frontend/menu_functions4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/bootstrap4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.easing4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.mousewheel4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.flexslider4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.elastislide4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.selectbox-0.24264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.parallax4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.inview4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.autocompleteea63.js?v=1.2.9&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.isotope4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/modernizr-2.6.2.min4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.fancybox.pack285d.js?v=2.1.5&amp;ver=3.9.11'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/custom4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/retina-1.1.04264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/add-to-cart4264.js?ver=3.9.11'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/js_composer/assets/js/js_composer_front9c92.js?ver=4.2.3'></script>

</body>
