
@{
    ViewBag.Title = "Giới Thiệu";
}

<head>
    <link rel="stylesheet" href="~/Content/VerticalTabs/bootstrap.vertical-tabs.css" />
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<style>
    p{
        font-size:20px;
        line-height:150%;
    }
</style>

<div class="container" style="margin-top:20px">
    <div class="col-xs-3">
        <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#home" data-toggle="tab">Tầm nhìn &amp; Sứ mạng</a></li>
            <li><a href="#profile" data-toggle="tab">Thông điệp của Business Director</a></li>
        </ul>
    </div>

    <div class="col-xs-9">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:#be0006; font-size:30px; font-weight:bold;">Đẹp trong từng khoảnh khắc</h3>
                <p>
                    Your quyết tâm trở thành thương hiệu hàng đầu về sản xuất và kinh doanh thời trang, đồng phục tại Việt Nam.
                </p>
                <p>
                    Your mong muốn đem đến cho cộng đồng những điều tốt đẹp qua các sản phẩm thời trang chất lượng và hợp xu hướng, qua đó tạo ra và nâng cao giá trị bền vững cho khách hàng và cộng đồng.
                </p>
            </div>
            <div class="tab-pane" id="profile">
                <p>
                    Với khát vọng đem đến cho cộng đồng những điều tốt đẹp, Your ra đời mang theo những đam mê và hoài bão lớn lao để phục vụ khách hàng. Thời trang Your luôn bắt kịp xu hướng và quan trọng nhất,
                    chúng tôi cam kết đáp ứng chất lượng phù hợp với từng khách hàng theo phương châm <span style="color:#be0006;"><b>"Your personality - Our product"</b></span>. Chúng tôi tự đặt cho mình sứ mệnh đồng hành với tất cả doanh nghiệp
                     và mỗi cá nhân để tạo ra và nâng cao giá trị bền vững cho khách hàng. Hãy cùng Your sáng tạo cho cuộc sống!
                </p>
                <p style="float:right;"><i>Trần Khánh Tùng</i></p>
            </div>
        </div>
    </div>

</div>
